<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management Home</title>
</head>
<body>
<h1>Product Management</h1>
<p>Welcome! Use the links below to manage products.</p>

<!-- Links to Thymeleaf views -->
<ul>
    <li><a th:href="@{/create-product}">Create Product</a></li><br><br>
    <li><a th:href="@{/view-products}">View All Products</a></li>

</ul>
</body>
</html>
